@using MudBlazor
@inherits LayoutComponentBase

<PageTitle>Two</PageTitle>

<MudThemeProvider IsDarkMode="true" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudContainer Class="animate__animated animate__fadeIn d-flex align-content-center flex-wrap flex-grow-1 gap-4 mud-height-full" MaxWidth="MaxWidth.Large">
    <MudGrid Class="svg-background" Justify="Justify.Center" Spacing="2" Style="max-height: 100%; height: 720px;">
        <MudHidden Breakpoint="Breakpoint.MdAndDown">
            <MudItem Class="pa-2" md="3">
                <div class="mud-typography-align-center pt-10">
                    <div class="mx-auto rounded-pill" style="background-image: url(./images/profile.png); background-size: contain; height: 190px; width: 190px;"></div>
                    <MudText Class="mt-4" Typo="Typo.subtitle1">Nattapong Kaewseeiam</MudText>
                    <MudText Class="mud-text-secondary" Typo="Typo.subtitle1">Software Developer</MudText>
                    <MudIconButton aria-label="GitHub" Color="Color.Warning" Href="https://github.com/TwoLogician" Icon="@Icons.Custom.Brands.GitHub" Target="_blank"></MudIconButton>
                    <MudIconButton aria-label="LinkedIn" Color="Color.Warning" Href="https://www.linkedin.com/in/two-nattapong" Icon="@Icons.Custom.Brands.LinkedIn" Target="_blank"></MudIconButton>
                </div>
                <div class="overflow-auto px-4">
                    <MudDivider Class="mt-2" />
                    <MudNavMenu Rounded="true" Margin="Margin.Normal" Color="Color.Success" Class="pa-2">
                        <MudNavLink Href="/" Icon="@Icons.Filled.Home" Match="NavLinkMatch.All">Home</MudNavLink>
                        <MudNavLink Href="/experience" Icon="@Icons.Filled.School">Experience</MudNavLink>
                        <MudNavLink Href="/portfolio" Icon="@Icons.Filled.BusinessCenter">Portfolio</MudNavLink>
                        <MudNavLink Href="https://github.com/TwoLogician/gookbit" Icon="@Icons.Filled.MenuBook" Target="_blank">Blog</MudNavLink>
                        <MudNavLink Href="/contact" Icon="@Icons.Filled.Mail">Contact</MudNavLink>
                    </MudNavMenu>
                </div>
            </MudItem>
        </MudHidden>
        <MudItem Class="mud-height-full pa-2" md="9">
            <MudCard Class="mud-height-full overflow-auto">
                <MudCardContent Class="mud-height-full" Style="position: relative">
                    @Body
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>